<!DOCTYPE html>
{% load django_bootstrap5 %} {% load static %}
<html lang="en">

<head>
    {% block title %}
    <title></title>
    {% endblock title %}
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    {# Load CSS and JavaScript #} {% bootstrap_css %} {% bootstrap_javascript %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />

    <link rel="stylesheet" href="{% static 'css/base.css' %}" />
    {% block styles %} {{ block.super }}
    <link href="{% static 'css/stockentry.css' %}" rel="stylesheet" type="text/css" />
    <style>
        .pe-2 {
            margin-top: 60px;
            padding-top: 150px;
            margin-left: 200px;
        }
    </style>

    {% endblock styles %}
</head>

<body>
    <section class="d-flex" style="height: 100vh">
        <section class="pe-2" id="content-block">
            {% block content %} {% endblock content %}
        </section>
    </section>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-qKXV1j0HvMUeCBQ+QVp7JcfGl760yU08IQ+GpUo5hlbpg51QRiuqHAJz8+BrxE/N"
        crossorigin="anonymous"></script>
    <script>
        // JavaScript to handle dropdown toggle
        document.addEventListener("DOMContentLoaded", () => {
            const dropdownToggle = document.querySelector(".dropdown-toggle");
            const dropdownMenu = document.querySelector(".dropdown-menu");

            dropdownToggle.addEventListener("click", (e) => {
                e.preventDefault();
                dropdownMenu.classList.toggle("show");
            });
        });

        function handleBranchChange(selectElement) {
            var selectedValue = selectElement.value;
            if (selectedValue !== "") {
                window.location.href = selectedValue;
            }
        }
    </script>

    {% block scripts %}
    <script src="{% static 'js/sidebar.js' %}"></script>
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <!-- Add this in the <head> section of your 'base.html' template -->


    {% endblock scripts %}
</body>

</html>